/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
  font-size: var(--font-size-base); /* Combined both 'html' styles */
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Almennt */

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: Matemasie-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Matemasie-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('./fonts/OpenSans-VariableFont_wdth,wght.ttf') format('woff2');
}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** „Til baka á forsíðu“ hlekkur **/
.back {
  margin-top: var(--spacing);
}
